
li {
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100px;
    height: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px #ccc;
}
html {
    background-image: url('../assets/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: auto
}

/* display: flex;
flex-wrap: wrap; */