html {
    background-image: url('../assets/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}
h1 {
    color: rgb(255, 217, 0);
    text-shadow: 2px 2px black;
    text-align: center;
}
h2 {
    color: rgb(255, 217, 0);
    text-shadow: 2px 2px black;
    text-align: center;
}