table {
    width: 100%;
    max-width: 500px;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}
.tablesorter{
    width:100%;
}
 table tr th, table tr td {
   width:25%;
   height: 110%;
}
tbody {
    color: rgb(255, 217, 0);
}
tbody tr:nth-child(odd) {
    background:cornflowerblue;
}
tbody tr:nth-child(even) {
    background: skyblue;
}
thead {
    background: darkblue;
    color: whitesmoke;
}
th {
    background: crimson;
}
tfoot {
    color: whitesmoke;
    background: darkblue;
    text-align: center;
}
html {
    background-image: url('../assets/grizby.jpg');
    background-attachment: fixed;
    background-position: left;
    background-size: auto;
}
th, td {
    border: 1px solid rgb(110, 110, 15);
}